*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    list-style: none;
}
.container{
    width: 20rem;
    height: 15rem;
    position: relative;
    font-family: sans-serif;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    z-index: 10;
    border:1px solid rgba(255, 255, 255, 0.18);
    /* border-top-color: white; */
    border-radius: 12px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    /* background: rgba(255,255,255,0.05); */
    box-shadow: -15px, 17px, 17px, rgba(10,10,10,0.25);
    /* display: flex; */
    /* background-image: url('../../Assets//Img/pexels-gradienta-7135121.jpg');
    background-size: cover; */
    
    /* justify-content: center;
    align-items: center; */

}
.box{
    width: 20rem;
    height: 15rem;
    
    /* padding: 0,20px; */
 
    /* display: flex; */
    /* position: relative; */
    /* border-radius: 20px; */
    
   
    /* border-image: 
    linear-gradient(
      to bottom, 
      rgb(242, 238, 238), 
      rgba(0, 0, 0, 0)
    ) 1 100%; */
 
    /* background: linear-gradient(136deg, rgba(255, 255, 255, 0.15) 0%, rgba(244, 244, 244, 0.05) 98.32%);
box-shadow: 0px 4px 31px -6px rgba(0, 0, 0, 0.25); */
/* backdrop-filter: blur(50px); */
/* Note: backdrop-filter has minimal browser support */

/* border-radius: 10px; */
}