.ui__screen{
    /* background-image: url('../../Assets/Img/gradient.jpg'); */
    margin: 0px;
    /* margin-top: 0px; */
    background-size: 100vmax 100vmax;
    min-height: 100vh;
    padding: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
    
    /* height: 100vh; */
    /* height: fit-content; */
    /* width: 100%; */
    background-repeat: no-repeat;
    resize: vertical;
    background-attachment: scroll;
        
}
.ui__title{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 83px;
    font-size: 75px;
    
    font-family: 'Outfit', sans-serif;
    opacity: 0.8;
    width: 20rem;
    height: 20rem;
}
.ui__heading{
    display: inline-block;
   
    margin-top: 20px;
/* margin-top: 69px; */
    
}


.container{
   
    width: 100%;
    height: 100%;
    overflow: auto;
}
.ui__addButton{
    position: absolute;
        right:4rem;
        bottom: 4rem;
        font-size: 80px;
        opacity: 0.5;
        /* margin-left: 1px; */
        z-index: 1 ;
        /* overflow: hidden; */
        /* border-radius: 50%; */
        /* background-color: black; */
    
    }
.ui__addButton:hover{
    opacity: 1;
    transition: 0.5s ease-in;
}
.ui__tiles{
    position: relative;
    margin-top:2rem;
    margin-left: 150px;
    margin-right: 170px;
    /* border: solid 2px red; */

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
  
    
    /* display: flex;
    flex-direction: row; */
}
/*-------------------pagination--------------------------*/
